html{
    overflow:hidden;
}
/* App */
.app_container{
    height:100vh;
    max-width:2000px;
    width:100%;
    font-family:'Times New Roman', Times, serif;
    transition:1s;
}
/* Canvas */
.canvas_container{
    z-index:-1;
    height:100%;
    padding: 0;
    margin: 0;
    display:block;
    position:absolute;
    left:0;
    top:0;
    /* pointer-events:none; */
}
/* UI */
.ui_container{
    display:block;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* width:180px; */
    margin-left:20px;
}
.control_header{
    text-align:left;
    font-size: 15pt;
    font-family:'Times New Roman', Times, serif;
}
.slider_label{
    font-family: monospace;
    font-size:10pt;
    color:#606060;
}
.text_input_box{
    color:black;
    border:none;
    background-color:transparent;
}
.liquid_checkbox{
    cursor:pointer;
    font-family: monospace;
}


