html{
    overflow:hidden;
    background-color:transparent;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body{
    background-color: #ffffff;
}

input{
    color:#ffffff;
    /* font-family: monospace; */
    font-family:'Times New Roman', Times, serif;
    background-color: #ffffff;
    font-size:12pt;
}
/* App */
.app_container{
    background-color: transparent;
    height:100vh;
    max-width:2000px;
    width:100%;
    font-family:'Times New Roman', Times, serif;
    transition:1s;
}
/* Canvas */
.canvas_container{
    background-color: transparent;
    z-index:-1;
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
}
/* div holding description text */
.description_container{
    /* position:absolute; */
    /* right: 10px; */
    width:40%;
    max-width:500px;
}
/* styling description text */
.description_text{
    text-align:left;
    font-size: 14pt;
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
    background-color: transparent;
    mix-blend-mode:difference;
    display:block;
}
/* styling image */
.description_container img{
    width:100px;
    display:block;
    height:100px;
    margin:auto;
    mix-blend-mode:normal;
    pointer-events:none;
}
/* UI */
.ui_container{
    position:absolute;
    display: flex;
    flex-direction: column;
    left:0;
    top:0;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left:20px;
    /* backface-visibility: visible; */
    /* -webkit-backface-visibility: visible; */
    /* width:fit-content; */
}
/* hiding the scrollbar */
.ui_container::-webkit-scrollbar {
    display: none;
}
.liquid_ui_component{
    margin-top:3px;
    margin-bottom:3px;
}
.liquid_menu_tab_items{
    padding-left: 10px;
}
.p5Canvas{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin:auto;
    display:block;
    /* border:solid 1px black; */
    /* align-content: center; */
}
.liquid_menu_tab_title{
    width:fit-content;
    text-align:left;
    font-size: 12pt;
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
    background-color: transparent;
    /* mix-blend-mode:difference; */
    display:block;
    cursor:pointer;
}
.liquid_menu_tab_title:hover{
    mix-blend-mode:difference;
    transition:0.1s;
    /* mix-blend-mode:normal; */
}
.control_header{
    text-align:left;
    font-size: 12pt;
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
    background-color: transparent;
    mix-blend-mode:difference;
    display:block;
}
.title{
    text-align:left;
    font-size: 15pt;
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
    background-color: transparent;
    mix-blend-mode:difference;
    display:block;
}
.control_label{
    display:block;
    /* font-family: monospace; */
    font-family:'Times New Roman', Times, serif;
    font-size:12pt;
    color:#ffffff;
    background-color: transparent;
    mix-blend-mode: difference;
}
.liquid_text_box{
    max-width:150px;
}

.flow_slider_container{
    /* margin-left:20px; */
    display:block;
    flex-direction: column;
    float:none;
    padding:10px;
    border-left:solid 4px #ffffff;
    /* border-radius:10px; */
    mix-blend-mode: difference;
}

.liquid_file_input{
    /* font-family: monospace; */
    font-family:'Times New Roman', Times, serif;
    color:#0000ff;
    text-decoration: underline;
    background-color: #ffffff;
    cursor:pointer;
    mix-blend-mode: difference;
}
.liquid_file_input input{
    display:none;
}
.liquid_checkbox{
    white-space: pre;
    cursor:pointer;
    /* font-family: monospace; */
    font-family:'Times New Roman', Times, serif;
    /* vertical-align: center; */
}
.checkbox_header{
    text-align:left;
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
    background-color: transparent;
    mix-blend-mode:difference;
}

.liquid_button{
    /* font-family: monospace; */
    font-family:'Times New Roman', Times, serif;
    color:#000000;
    background-color: #ffffff;
    cursor:pointer;
    mix-blend-mode: difference;
    width:fit-content;
    margin-top:3px;
    margin-bottom:3px;
}
.liquid_button:hover{
    background-color: #0000ff;
    mix-blend-mode: normal;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.liquid_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ffffff;
    box-shadow: -400px 0 0 400px #ffffff;
}

.liquid_color_picker{
    mix-blend-mode: normal;
    border-radius:4px;
}
.liquid_color_picker .react-colorful{
    mix-blend-mode: normal;
    width: 80px;
    height: 50px;
    border-radius:0px;
}
.liquid_color_picker .react-colorful__hue {
    mix-blend-mode: normal;
    height: 10px;
    border-radius:0px;
    
}
.liquid_color_picker .react-colorful__saturation {
    border-radius:0px;  
}
/* Custom poiners */
.liquid_color_picker .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border:none;
}
.liquid_color_picker .react-colorful__hue-pointer,
.liquid_color_picker .react-colorful__alpha-pointer {
    width:10px;
    height:12px;
    border-radius: 0px;
    border:none;
}

@keyframes example {
    from {background-color: #ff77ff;height:30px;width:30px;margin:0px;}
    to {background-color: #ff0000;height:25px;width:25px;margin:2.5px;}
}

.keyframe_display{
    background-color : #ffccff;
}
.keyframe_display:hover{
    cursor:pointer;
    background-color: #0000ff;
    border-color:blue;
    transition:0.1s;
}
.new_keyframe_button:hover{
    cursor:pointer;
    background-color:blue;
}

.number_input_label{
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
    mix-blend-mode: difference;
}
.number_input_box{
    width:4ch;
    color:#ffffff;
    mix-blend-mode: difference;
    background-color:transparent;
    font-family: monospace;
    border:none;
    border-radius:2px;
}

@keyframes flowPoint{
    from {border-width: 1px;}
    /* to {background-color: #ff0000;border-width: 0px;} */
    to {background-color: transparent;border-width: 1px;}
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}